<h1>{{ title }} {{env}}</h1>

<!-- Display images based on the dynamically set imageApi -->
<div>
    <img width="250" height="250" [src]="imageApi + '/image1.jpg'" alt="Dummy Image 1">
    <img width="250" height="250" [src]="imageApi + '/image2.jpg'" alt="Dummy Image 2">
    <img width="250" height="250" [src]="imageApi + '/image3.jpg'" alt="Dummy Image 3">
    <img width="250" height="250" [src]="imageApi + '/image4.jpg'" alt="Dummy Image 4">
    <img width="250" height="250" [src]="imageApi + '/image5.jpg'" alt="Dummy Image 5">
    <img width="250" height="250" [src]="imageApi + '/image6.jpg'" alt="Dummy Image 6">
    <img width="250" height="250" [src]="imageApi + '/image7.jpg'" alt="Dummy Image 7">
    <img width="250" height="250" [src]="imageApi + '/image8.jpg'" alt="Dummy Image 8">
</div>

<!-- Add more images as needed -->
